[Unit]
Description=USB Gadget Bind to DWC3 Driver
Before=gadget-start.service
Requires=gadget-init.service
PartOf=usb-gadget.target
[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=gadget-bind
EnvironmentFile=$envfile
WorkingDirectory=$scriptsdir
ExecStart=/usr/bin/bash $scriptsdir/gadget-bind.sh bind
ExecStop=/usr/bin/bash $scriptsdir/gadget-bind.sh unbind
[Install]
WantedBy=usb-gadget.target
