[Unit]
Description=USB Gadget Init
After=modprobe@libcomposite.service sys-kernel-config.mount
Wants=modprobe@libcomposite.service
Requires=sys-kernel-config.mount
ConditionPathExists=/sys/kernel/config/usb_gadget
PartOf=usb-gadget.target
[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=gadget-init
EnvironmentFile=$envfile
WorkingDirectory=/sys/kernel/config/usb_gadget
ExecStart=/usr/bin/bash $scriptsdir/gadget-init.sh start
ExecStop=/usr/bin/bash $scriptsdir/gadget-init.sh stop
[Install]
WantedBy=usb-gadget.target
Also=gadget-start.service
