[Unit]
Description=USB Gadget Start
After=modprobe@udc-core.service gadget-init.service
Wants=modprobe@udc-core.service
Requires=gadget-init.service
PartOf=usb-gadget.target
[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=gadget-start
EnvironmentFile=$envfile
WorkingDirectory=/sys/kernel/config/usb_gadget
ExecStart=/usr/bin/bash $scriptsdir/gadget-start.sh start
ExecStop=/usr/bin/bash $scriptsdir/gadget-start.sh stop
[Install]
WantedBy=usb-gadget.target
